////////////////////////////////////////////////////////////////////////////////
// .br-button
////////////////////////////////////////////////////////////////////////////////
.br-button {
	display: inline-block;
	cursor: pointer;
	font-size: 1em;
	padding: 4px 8px;
	border: 1px solid #3d9970;
	border-radius: 2px;
	margin: 0 4px 0 0;
	color: #3D9970;
	font-weight: 400;
	text-transform: uppercase;
	background-color: transparent;
	transition: all 0.25s ease;
}

.br-button--full {
	width: 100%;
}

.br-button:hover {
	color: #fff;
	background: #3d9970;
	text-decoration: none;
}

.br-button.warning {
	border-color: #f58056;
	color: #f58056;
}

.br-button.warning:hover {
	background: #f58056;
	color: #fff;
}

.br-button.destructive {
	border-color: #af1010;
	color: #af1010;
}

.br-button.destructive:hover {
	background: #af1010;
	color: #fff;
}

.br-button.btn-disable {
	cursor: not-allowed;
	pointer-events: none;
	color: #c0c0c0;
	background-color: #ddd;
}

////////////////////////////////////////////////////////////////////////////////
// .btn-alt
////////////////////////////////////////////////////////////////////////////////
.btn-alt {
	background-color: #3d9970;
	color: #fff;
	text-transform: none;
}

.btn-alt:hover {
	background-color: transparent;
	color: #3d9970;
}

////////////////////////////////////////////////////////////////////////////////
// .btn-alt
////////////////////////////////////////////////////////////////////////////////
.btn-alt {
	background-color: #3d9970;
	color: #fff;
	text-transform: none;
}

.btn-alt:hover {
	background-color: transparent;
	color: #3d9970;
}

////////////////////////////////////////////////////////////////////////////////
// .br-help
////////////////////////////////////////////////////////////////////////////////

.br-help {
	position: fixed;
	z-index: 10;
	bottom: 6px;
	left: 6px;
	font-size: 2em;
	width: 42px;
	height: 42px;
	text-align: center;
	border-radius: 100%;
	text-decoration: none;
	transition: 0.1s ease-in-out transform
}

.br-help:visited {
	color: #3d9970;
}

.br-help:hover {
	transform: rotate(35deg)
}
