////////////////////////////////////////////////////////////////////////////////
// .halo
////////////////////////////////////////////////////////////////////////////////
.element-action {
	position: absolute;
	pointer-events: none
}

////////////////////////////////////////////////////////////////////////////////
// .handles
////////////////////////////////////////////////////////////////////////////////
.element-action .holder {
	display: flex;
	position: absolute;
	top: -60px;
	border-radius: 4px 4px 4px 0;
	border: 4px solid #e8e8e8;
	background-color: #e8e8e8;
	box-shadow: -1px 0 0 rgba(0,0,0, 0.1),
				0 -1px 1px rgba(0,0,0, 0.3);
}

.element-action .holder:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	left: -4px;
	margin-top: 4px;
	border-top: 16px solid #e8e8e8;
	border-left: 0 solid transparent;
	border-right: 13px solid transparent;
	box-shadow: -1px 0 0 rgba(0,0,0, 0.2);
}

////////////////////////////////////////////////////////////////////////////////
// .halo .handle
////////////////////////////////////////////////////////////////////////////////
.element-action .item.hidden {display: none;}

.element-action .item {
	display: inline-block;
	position: relative;
	width: 36px;
	height: 36px;
	cursor: pointer;
	user-select: none;
	pointer-events: auto;
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.element-action .item:hover {
	background-color: #fff;
}

////////////////////////////////////////////////////////////////////////////////
// .handle types
////////////////////////////////////////////////////////////////////////////////
.item.clone,
.item.link,
.item.fork,
.item.rotate {cursor: move;}

.item.resize {cursor: se-resize;}