////////////////////////////////////////////////////////////////////////////////
// Font declaration
////////////////////////////////////////////////////////////////////////////////
label,
input,
textarea,
button {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: inherit;
}

////////////////////////////////////////////////////////////////////////////////
// Form elements outline
////////////////////////////////////////////////////////////////////////////////
button,
input[type="button"],
input[type="submit"] {
	transition: box-shadow 0.2s ease;
}


button:focus,
input[type="button"]:focus,
input[type="submit"]:focus {
	outline: 0;
	box-shadow: 0 0 0 2px rgba(#fff, 1),
				0 0 0 4px rgba(#3d9970, 0.4);
}

////////////////////////////////////////////////////////////////////////////////
// .field
////////////////////////////////////////////////////////////////////////////////
.field {position: relative;}
.field:not(:last-child) {margin-bottom: 25px;}


////////////////////////////////////////////////////////////////////////////////
// .columnsList
////////////////////////////////////////////////////////////////////////////////
.columnsList {
	position: relative;
	margin-bottom: 25px;
}

.columnsList .addColumn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.4em;
	color: rgba(green, 0.8);
	cursor: pointer;
}

.columnsList .addColumn:hover {color: rgba(green, 1);}

.columnItem {
	position: relative;
	padding: 8px 8px 4px 8px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	background: rgba(#fff, 0.4);
	margin-bottom: 16px;
}

.columnItem > label {
	display: block;
	padding-right: 25px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.columnItem .titleLabel {
	 margin-bottom: 5px;
}

.columnItem .dropdown-tmp-item {
	line-height: 10px;
	padding: 8px 4px;
}

.columnItem .fa {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.2em;
	color: rgba(#000, 0.5);
	cursor: pointer;
}

.columnItem .dropdownElement {
	margin-bottom: 40px;
}

.columnItem .fa:hover {color: rgba(#000, 1);}

.columnItem .actions {
	border-top: 1px solid #e7e7e7;
	padding-top: 10px;
}

.columnItem .actions .fa {
	cursor: pointer;
	float: right;
	position: relative;
	top: -4px;
	right: 0;
	font-size: 1.4em;
	margin-left: 8px;
}

.columnItem .actions .add {color: rgba(green, 0.8);}
.columnItem .actions .cancel {color: rgba(red, 0.8);}

///////////////////////////////////////////////////////////////////////////////
// Radioboxes customization
///////////////////////////////////////////////////////////////////////////////
.radio > label {
	line-height: 0.8em;
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin-bottom: 5px;
}

.radio > label > input[type="radio"] {
	font-size: 14px;
	margin-top: 0;
}

.radio > label > input[type="radio"].withinput {
	margin-top: 3px;
}

.radio > label > input[type="number"] {
	width: 40px;
	height: 22px;
	display: inline;
	padding: 3px;
	font-size: 15px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
}

////////////////////////////////////////////////////////////////////////////////
// Bootstrap fixes
////////////////////////////////////////////////////////////////////////////////
.form-control {
	box-shadow: 0 0 0 #3D9970,
				0 0 0 #3D9970;
	transition: box-shadow 0.2s
}

.form-control:focus {
	outline: none;
	border-color: #3D9970;
	box-shadow: 1px 1px 0 #3D9970,
				-1px 3px 0 #3D9970;
}

.form-control.error {
	color: rgba(red, 0.8);
	border-color: rgba(red, 0.8);
	background-color: rgba(red, 0.07);
}

.form-control.error:focus {
	box-shadow: 1px 1px 0 rgba(red, 0.8), -1px 3px 0 rgba(red, 0.8);
}

.form-control.error::placeholder {
	color: rgba(red, 1);
}

textarea {
	resize: vertical;
}

textarea.sql-script {
	min-height: 500px;
}

input[type="checkbox"] {
	cursor: pointer;
}

.checkbox > label {
	word-break: break-all;
}

.query-expression-textarea {
	min-height: 125px;
}