///////////////////////////////////////////////////////////////////////////////
// Box Model
///////////////////////////////////////////////////////////////////////////////
html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {box-sizing: inherit;}

////////////////////////////////////////////////////////////////////////////////
// .separator
////////////////////////////////////////////////////////////////////////////////
.separator {
	width: 100%;
	border-color: #cecece;
}

////////////////////////////////////////////////////////////////////////////////
// General styles
////////////////////////////////////////////////////////////////////////////////
body {
	height: 100%;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	color: rgba(0,0,0, 0.8);
}

a,
.link {
	color: rgba(#3D9970, 1);
	cursor: pointer;
}

.fa {user-select: none;}

////////////////////////////////////////////////////////////////////////////////
// .mainContent
////////////////////////////////////////////////////////////////////////////////
.mainContent {
	padding-top: 50px;
	height: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// .header-actions
////////////////////////////////////////////////////////////////////////////////
.header-actions {
	margin-top: 20px;
}

////////////////////////////////////////////////////////////////////////////////
// .wrapper
////////////////////////////////////////////////////////////////////////////////
.wrapper {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////
// .element-holder
////////////////////////////////////////////////////////////////////////////////
.elements-holder {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 215px;
	border-right: 1px solid #e7e7e7;;
	background-color: #f8f8f8;
	user-select: none;
}

.elements-holder .elements-list {
	float: none;
	width: 125px;
	margin: 16px auto 0 auto;
	border: none;
}

.elements-holder .elements-list .elements {
	background-color: transparent;
}

////////////////////////////////////////////////////////////////////////////////
// .stencil-paper-drag
////////////////////////////////////////////////////////////////////////////////
.draggable-paper.dragging {
    opacity: .7;
 }

////////////////////////////////////////////////////////////////////////////////
// .model-area
////////////////////////////////////////////////////////////////////////////////
.model-area {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 215px;
	overflow: hidden;
	box-sizing: border-box;
}

.workspace-header {
	position: relative;
}

.workspace-header .page-header {
	padding: 0 15px;
	margin-top: 8px;
	margin-bottom: 0;
}

.workspace-header .page-header .header-actions {
	margin-top: 0;
}

////////////////////////////////////////////////////////////////////////////////
// .document-info
////////////////////////////////////////////////////////////////////////////////
.document-info h2 {
	margin-bottom: 4px;
}

////////////////////////////////////////////////////////////////////////////////
// .model-properties
////////////////////////////////////////////////////////////////////////////////
.model-properties {
	position: fixed;
	z-index: 10;
	top: 109px;
	right: -285px;
	bottom: 0;
	width: 300px;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	background-color: #f8f8f8;
	transition: 0.3s ease-in-out right;
}

.model-properties.active {right: 0;}

.model-properties .action {
	display: block;
	height: 25px;
	width: 25px;
	position: absolute;
	top: 5px;
	left: -25px;
	text-align: center;
	border: 1px solid #e7e7e7;
	border-radius: 3px 0 0 3px;
	background-color: #f8f8f8;
	cursor: pointer;
}

.action .angle-double-icon {
	position: relative;
	top: 3px;
	font-size: 1.2em;
	color: rgb(119, 119, 119);
	font-weight: bold;
}

.properties-content {
	height: 100%;
	overflow-y: scroll;
}

.properties-content.old {
	padding: 16px;
}

.properties-content .empty-state {
	font-size: 1.3em;
	font-weight: 100;
	text-align: center;
	color: #959595;
	padding: 10px;
}

.properties-content .br-button {
	text-align: center;
	width: 100%;
}


////////////////////////////////////////////////////////////////////////////////
// .editionColumn
////////////////////////////////////////////////////////////////////////////////
.editionColumn {
	margin-top: 5px;
}

.editionColumn .editionItem {
	margin-bottom: 5px;
}

.editionItem .fieldInput {
	padding: 2px 5px;
	font-size: 1.0em;
}

////////////////////////////////////////////////////////////////////////////////
// .editor-scroller
////////////////////////////////////////////////////////////////////////////////
.editor-scroller {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.editor-scroller .joint-paper {
	position: absolute;
	border: 1px solid #e7e7e7;
	box-shadow: 0 0 20px rgba(0,0,0, 0.1);
	// background-color: purple; // Uncomment to debugging purposes
}

.editor-scroller .joint-paper > svg {
	display: block;
}

.editor-scroller[data-cursor=grab] {
	cursor: grab;
}

.editor-scroller[data-cursor=grab].is-panning {
	cursor: grabbing;
}
