////////////////////////////////////////////////////////////////////////////////
// .table-preview
////////////////////////////////////////////////////////////////////////////////
.table-preview {
	border: 1px solid #bdbdbd;
	border-radius: 2px 2px 0 0;
	margin-bottom: 12px;
}

.table-preview header {
	padding: 12px 8px;
	border-bottom: 1px solid #bdbdbd;
	font-size: 1.3em;
	background-color: rgba(#000, 0.1); // Fallback color
}

.table-preview header h5 {
	font-family: monospace;
	font-weight: 500;
	margin: 0;
}

////////////////////////////////////////////////////////////////////////////////
// .table-preview-body
////////////////////////////////////////////////////////////////////////////////
.table-preview-body .checkbox {
	padding: 6px 8px;
	margin: 0;
}

.table-preview-body .checkbox:not(:last-child) {
	border-bottom: 1px solid #bdbdbd;
}

.table-preview-body .checkbox label {
	font-size: 0.9em;
}
